/* Global */

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|IBM+Plex+Mono|Source+Code+Pro&display=swap');

body {
    background-color:#464646;
    font-family: "IBM Plex Mono", "Source Code Pro", monospace;

}

#container {
    background-color:#A1A194;
    width: 80%;
    padding-top: 10px;
    padding-bottom:10px;
    margin: 0 auto;
}

/* Header Start */

#header h1 {
    background-color: #5B605F;
    color:whitesmoke;
    height:auto;
    margin: 5px;
    font-family: "Source Code Pro", monospace;
    font-size:40px;
    text-align: center;

}

/* Header End */

/* Main Start */

#article, #article-2, p {
    height: auto;
    width: auto;
    margin: 0 10px 0 10px;
    padding: 5px 10px 5px 10px;
}

#pexel1, #folder-cover, #jfk, #pexel3 {
    float: right;
    margin: 10px;
}

#pexel2, #states-coins, #one-dollar {
    float: left;
    margin: 10px;
}

#flexbox {
    display: inline-block;
    height: auto;
}

#national-park, #national-park-coin {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

h3 {
    color:whitesmoke;
}

a {
    text-decoration: none;
}

/* Main End */

/* Footer Start */

footer {
    background-color: #5B605F;
    font-size: 16px;
    color:whitesmoke;
    text-align: center;
}

/* Footer End */